@(primaryKey: Long, offerForm: Form[models.Offer])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Textbook Xchange: Edit an Offer") {

  <div class="container">
    <div class="well">
      <h3>Edit Offer Information</h3>
      @form(routes.Offer.update(primaryKey), 'class -> "form-horizontal") {
        @inputText(offerForm("offerId"), '_label -> "ID")
        @inputText(offerForm("condition"), '_label -> "Condition")
        @inputText(offerForm("targetPrice"), '_label -> "Target Price")
        <div class="control-group">
          <div class="controls">    
            <input id="update" type="submit" value="Update" class="btn btn-primary"> 
            <a id="delete" href="@routes.Offer.delete(primaryKey)" class="btn btn-danger">Delete</a>  
            <a id="cancel" href="@routes.Application.index()" class="btn">Cancel</a> 
          </div>
        </div>
      }
    </div>
  </div>   
}